LogicApps/Intune_monitor_app_creation.xml
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Logic App Name": {
            "defaultValue": "",
            "type": "String"
        },
		"slackConnectionName": {
			"type": "string",
			"defaultValue": "SlackConnection",
			"metadata": {
			"description": "The name for the Slack connection."
      }
		},
		"slackChannelName": {
			"type": "string",
			"defaultValue": "#general",
			"metadata": {
			"description": "The name for the Slack channel you want the messages to be sent to."
      }
    },
		    "Bot Name": {
      "type": "string",
      "defaultValue": "Intune Monitoring",
      "metadata": {
        "description": "Bot name on Slack."
      }
    },
			    "Icon URL": {
      "type": "string",
      "defaultValue": "https://intune.tech/assets/images/Logo.png",
      "metadata": {
        "description": "Icon to show on messages"
      }
    },
			    "Timezone": {
      "type": "string",
      "defaultValue": "AUS Eastern Standard Time",
      "metadata": {
        "description": "Your time zone according to https://learn.microsoft.com/en-us/windows-hardware/manufacture/desktop/default-time-zones"
      }
    },	
		    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources."
      }
    }
    },
    "variables": {},
    "resources": [
	    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2018-07-01-preview",
      "location": "[parameters('location')]",
      "name": "[parameters('slackConnectionName')]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'slack')]"
        },
        "displayName": "slack"
      }
    },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Logic App Name')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "timezone": {
                            "defaultValue": "[parameters('TimeZone')]",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Hour",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON_select_values')",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Post_message_(V2)": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "channel": "[parameters('slackChannelName')]",
                                                    "icon_url": "[parameters('Icon URL')]",
                                                    "text": ":mag: New application assignments created on Intune :mag:\n\n*Application Name:* @{items('For_each')['resourcesdisplayName']}\n*Application Type:* @{items('For_each')?['modifiedProperty1']}\n*Assignment Type:*  @{items('For_each')?['modifiedProperty0']}\n*Group assigned to:* @{items('For_each')?['modifiedProperty4']}\n*Intent:* @{items('For_each')?['modifiedProperty3']}\n*Filter ID:* @{items('For_each')?['modifiedProperty5']}\n*Filter Intent:* @{items('For_each')?['modifiedProperty6']}\n*Assignment Local Time:* @{items('For_each')?['activityLocalDateTime']}\n",
                                                    "username": "[parameters('Bot Name')]"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['slack']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/chat.postMessage"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Post_message_(V2)_2": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "body": {
                                                        "channel": "[parameters('slackChannelName')]",
                                                        "icon_url": "[parameters('Icon URL')]",
                                                        "text": ":mag: New application assignments created on Intune :mag:\n\n*Application Name:* @{items('For_each')['resourcesdisplayName']}\n*Application Type:* @{items('For_each')?['modifiedProperty1']}\n*Assignment Type:*  @{items('For_each')?['modifiedProperty0']}\n*Intent:* @{items('For_each')?['modifiedProperty3']}\n*Filter ID:* @{items('For_each')?['modifiedProperty4']}\n*Filter Intent:* @{items('For_each')?['modifiedProperty5']}\n*Assignment Local Time:* @{items('For_each')?['activityLocalDateTime']}",
                                                        "username": "[parameters('Bot Name')]"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['slack']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/chat.postMessage"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@item()?['modifiedProperty0']",
                                                    "GroupAssignmentTarget"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_select_values": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_GET_Intune_Audit_Events": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/beta/deviceManagement/auditEvents?$filter= activityDateTime%20gt%20@{formatDateTime(addHours(utcNow(),-1),'yyyy-MM-ddTHH:mm:ssZ')}%20and%20category%20eq%20'Application'%20and%20displayName%20eq%20'Create MobileAppAssignment'"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "HTTP_GET_Intune_Audit_Events": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_GET_Intune_Audit_Events')",
                                "schema": {
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "@@odata.count": {
                                            "type": "integer"
                                        },
                                        "value": {
                                            "items": {
                                                "properties": {
                                                    "activity": {},
                                                    "activityDateTime": {
                                                        "type": "string"
                                                    },
                                                    "activityOperationType": {
                                                        "type": "string"
                                                    },
                                                    "activityResult": {
                                                        "type": "string"
                                                    },
                                                    "activityType": {
                                                        "type": "string"
                                                    },
                                                    "actor": {
                                                        "properties": {
                                                            "applicationDisplayName": {
                                                                "type": "string"
                                                            },
                                                            "applicationId": {
                                                                "type": "string"
                                                            },
                                                            "auditActorType": {
                                                                "type": "string"
                                                            },
                                                            "ipAddress": {},
                                                            "remoteTenantId": {},
                                                            "remoteUserId": {},
                                                            "servicePrincipalName": {},
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "userId": {
                                                                "type": "string"
                                                            },
                                                            "userPermissions": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "userPrincipalName": {
                                                                "type": "string"
                                                            },
                                                            "userRoleScopeTags": {
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "category": {
                                                        "type": "string"
                                                    },
                                                    "componentName": {
                                                        "type": "string"
                                                    },
                                                    "correlationId": {
                                                        "type": "string"
                                                    },
                                                    "displayName": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "resources": {
                                                        "items": {
                                                            "properties": {
                                                                "auditResourceType": {
                                                                    "type": "string"
                                                                },
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "modifiedProperties": {
                                                                    "type": "array"
                                                                },
                                                                "resourceId": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "displayName",
                                                                "type",
                                                                "auditResourceType",
                                                                "resourceId",
                                                                "modifiedProperties"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "displayName",
                                                    "componentName",
                                                    "activity",
                                                    "activityDateTime",
                                                    "activityType",
                                                    "activityOperationType",
                                                    "activityResult",
                                                    "correlationId",
                                                    "category",
                                                    "actor",
                                                    "resources"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_JSON_select_values": {
                            "runAfter": {
                                "Select": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Select')",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "activityDateTime": {
                                                "type": "string"
                                            },
                                            "activityLocalDateTime": {
                                                "type": "string"
                                            },
                                            "actorDisplayName": {
                                                "type": "string"
                                            },
                                            "actoruserPrincipalName": {},
                                            "applicationtype": {
                                                "type": "string"
                                            },
                                            "componentName": {
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "resourcesdisplayName": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "activityDateTime",
                                            "activityLocalDateTime",
                                            "actorDisplayName",
                                            "actoruserPrincipalName",
                                            "applicationtype",
                                            "componentName",
                                            "displayName",
                                            "resourcesdisplayName"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Select": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('HTTP_GET_Intune_Audit_Events')?['value']",
                                "select": {
                                    "activityDateTime": "@item()?['activityDateTime']",
                                    "activityLocalDateTime": "@formatDateTime(convertTimeZone(item()?['activityDateTime'], 'UTC',parameters('timezone')), 'dd/MM/yyyy HH:mm:ss')",
                                    "actorDisplayName": "@item()?['actor']?['applicationDisplayName']",
                                    "actoruserPrincipalName": "@item()?['actor']?['userPrincipalName']",
                                    "applicationtype": "@item()?['Resources']?[0]?['type']",
                                    "componentName": "@item()?['componentName']",
                                    "displayName": "@item()?['displayName']",
                                    "modifiedProperty0": "@item()?['Resources']?[1]?['modifiedProperties']?[0]?['newValue']",
									"modifiedProperty1": "@item()?['Resources']?[1]?['modifiedProperties']?[1]?['newValue']",
                                    "modifiedProperty2": "@item()?['Resources']?[1]?['modifiedProperties']?[2]?['newValue']",
                                    "modifiedProperty3": "@item()?['Resources']?[1]?['modifiedProperties']?[3]?['newValue']",
                                    "modifiedProperty4": "@uriComponentToString(replace(uriComponent(item()?['Resources']?[1]?['modifiedProperties']?[4]?['newValue']), '%0A', ''))",
                                    "modifiedProperty5": "@item()?['Resources']?[1]?['modifiedProperties']?[5]?['newValue']",
                                    "modifiedProperty6": "@item()?['Resources']?[1]?['modifiedProperties']?[6]?['newValue']",
                                    "resourcesdisplayName": "@item()['Resources']?[0]?['displayName']"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
              "slack": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'slack')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('slackConnectionName'))]"
              }
                        }
                    }
                }
            }
        }
    ]
}